.gitsecret/keys/random_seed
!*.secret
/recsys_venv/

/Database/response.json
/Database/updated.json
/Database/updated.jsonl
/Database/updatedBavaria.json
/Database/updatedBavaria.jsonl
.DS_Store
/nextjs-fastapi/api/chatBot/constants.py
.idea/workspace.xml
.idea/workspace.xml
